@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Сегодня <strong>@Model.DayOfYear</strong> день в году</p>

    <h1 class="display-4">Random English Letter</h1>
    <p>Случайная буква: <strong>@Model.RandomLetter</strong></p>
    <button onclick="window.location.reload();" class="btn btn-primary">Получить еще одну букву</button>
</div>
