@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Сегодня <strong>@Model.DayOfYear</strong> день в году</p>
</div>
